DATABASE_URL=postgresql://neondb_owner:npg_djtKhwP49mfy@ep-frosty-frost-aug6nx6p-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=apSzn0Td+pFQyAMgfkDK6m88z/IwSHjgF8TEMLuork4=
